<h1>Bem-Vindo(a)!</h1>
<p>Esta é a aplicação destinada a apresentação dos projetos de angular dos respectivos alunos:</p>
<h2>Guilherme Domingues Branco Pires</h2>
<img src="../assets/guilherme.jpg" alt="Foto do integrante 1">
<p>Aluno do 5º ciclo de SI <br> Idade: 22 anos</p>
<h2>Pedro Henrique Garcia Affonso Affonso</h2>
<img src="../assets/pedro.jpg" alt="Foto do integrante 2">
<p>Aluno do 5º ciclo de SI <br> Idade: 24 anos</p>
  <p><strong>Tarefa 01:</strong> Exibir preço do bitcoin em reais (R$). A API utilizada para obter os dados foi a
  <a href="https://www.coindesk.com/coindesk-api" target="_blank">
    API CoinDesk
  </a>
</p>
<p><strong>Tarefa 02:</strong> Visualizar os repositórios do GitHub de cada componente do grupo.</p>
